@charset "utf-8";
/* ============共用样式库============== */
.mt2{margin-top:2px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt9{margin-top:9px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt14{margin-top:14px;}
.mt17{margin-top:17px;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt123{margin-top:123px;}
.mt-2{margin-top:-2px !important;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml23{margin-left:23px;}
.ml26{margin-left:26px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml48{margin-left:48px;}
.ml50{margin-left:50px;} 
.ml60{margin-left:60px;}
.ml62{margin-left:62px;}
.ml69{margin-left:69px;}
.ml70{margin-left:70px;}
.ml80{margin-left:80px;}
.ml82{margin-left:82px;}
.ml100{margin-left:100px;}
.ml120{margin-left:120px;}
.ml180{margin-left:170px;}
.ml202{margin-left:202px;}
.ml260{margin-left:260px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr26{margin-right:26px;}
.mr100{margin-right:100px;}
.mb20{margin-bottom:20px;}

.pl26{padding-left:26px;}
.pd10{padding:10px;}
.pd18{padding:18px;}
.pd2-5{padding:2px 5px;}
.pd10-28{padding:10px 28px;}
.pt10{padding-top:10px !important;}
.pb0{padding-bottom:0;}

.font-size12{font-size:12px;}
.font-size14{font-size:14px;}

.wid-atuo{width:auto !important;}
.wid72{width:72px;}
.wid82{width:82px;}
.wid102{width:102px;}
.wid120{width:120px !important;}
.wid160{width:160px !important;}
.wid170{width:170px !important;}
.wid250{width:250px !important;}
.wid258{width:258px !important;}
.wid300{width:300px !important;}
.wid20-percent{width:20% !important;}
.wid60-percent{width:60% !important;}
.wid70-percent{width:70% !important;}
.wid80-percent{width:80% !important;}
.line-hei22{line-height:22px !important;}
.line-hei30{line-height:30px !important;}
.line-hei32{line-height:32px !important;}

.temp{width:auto;height:auto;position:relative;}
.txt-center{text-align:center;}
.txt-right{text-align:right;}

/* ============登录页面样式============== */
.login{padding:0; margin:0;width:100%;background:url(../images/logo-bg.jpg) no-repeat center top scroll;}
.login .box{width:100%;height:530px; margin:0 auto;position:absolute;top:50%;margin-top:-15%;}
.login .box .logo{width:100%;height:64px;margin:0 auto;margin-bottom:40px;text-align:center;}
.login .box .login-panel{width:790px;height:410px;margin:0 auto;background-color:#FFF;border:1px solid #4287BA;border-top-color:#487EA7;border-radius:3px;box-shadow:0 0 5px #4287BA;}
.login .box .login-panel .login-left{width:292px;height:320px;padding:54px 66px 0 54px;}
.login .box .login-panel .login-line{width:2px;height:310px;background:url(../images/icon.png) no-repeat -1px -95px;margin-top:59px;}
.login .box .login-panel .login-right{width:350px;height:320px;margin-top:54px;}
.login-title{width:100%;height:auto;font-size:20px;color:#4c4c4c;}
.panel{width:100%;height:auto;margin:0 auto;}
.login-rows{float:left;width:100%;height:auto;margin:0;padding:0;}
.login-input{width:240px;height:38px !important;line-height:38px;padding:0 10px 0 40px;font-size:18px;color:#4c4c4c;border:1px solid #CBCBCB;border-radius:1px;}
.login-name{background:url(../images/icon.png) no-repeat 7px 7px;}
.login-pwd{background:url(../images/icon.png) no-repeat 7px -40px;}
.login-input:focus{border:1px solid #ABD9FA;box-shadow:0 0 4px #ABD9FA;}
.yw-checkbox{float:left;width:auto;height:34px;}
.yw-checkbox i{float:left;width:17px;height:17px;background:url(../images/icon.png) no-repeat -300px -30px;}
.yw-checkbox-true{background-position:-300px 0 !important;}
.yw-checkbox input[type='checkbox']{filter: Alpha(Opacity = 0);-moz-opacity:0;opacity:0;display:none;}
.login-btn{float:left;width:290px;height:40px;line-height:40px;text-align:center;border:0;background-color:#56AFF1;color:#FFF;font-size:16px;border-radius:2px;curosr:pointer;}
.login-btn:hover{background-color:#3BA6F5;box-shadow:0 0 5px #3BA6F5;cursor:pointer;}
.twocode{width:160px;height:160px;margin-top:75px;}
.bottom{width:100%;height:60px;position:absolute;bottom:0;left:0;}
.bottom p{float:left;width:100%;height:60px;line-height:60px;color:#FFF;font-size:14px;text-align:center;margin:0;padding:0;}

/* ============待审流程页面样式============== */
.head-logo{width:auto;height:70px;line-height:70px;margin:0 auto;}
.head-logo img{vertical-align:middle;}
.head-menu{width:auto;height:42px;margin-top:14px;}
.head-menu li{float:left;width:auto;height:42px;line-height:42px;padding:0 14px;font-size:#16px;color:#d6dfe8;margin-right:30px;}
.head-menu li:hover{color:#FFF;background-color:#0F75D2;cursor:pointer;}
.head-menu li:focus{color:#FFF;background-color:#0F75D2;}
.head-menu-now{color:#FFF !important;background-color:#0F75D2 !important;}
.head-menu-right{width:auto;height:42px;line-height:42px;}
.head-menu-right a{float:left;height:28px;line-height:28px;padding:7px 5px;font-size:14px;margin-right:20px;}
.head-menu-right a:link{color:#FFF;filter: Alpha(Opacity = 80);-moz-opacity: 0.8;opacity: 0.8;}
.head-menu-right a:hover{color:#FFF;filter: Alpha(Opacity = 100);-moz-opacity: 1;opacity: 1;}
.yw-icon{background:url(../images/icon.png) no-repeat 0 0;}
.icon-dot{width:10px;height:10px;background-position:-330px 0;margin:10px 5px 0 0;}
.icon-fork{width:14px;height:14px;background-position:-355px 0;margin:8px 5px 0 0;}
.yw-user{float:left;width:210px;height:176px;border-bottom:1px solid #47555F;text-align:center;}
.yw-userhead{float:left;width:80px;height:80px;line-height:80px;text-align:center;border-radius:40px;background-color:#1B8CF2;margin:22px 0 10px 65px;}
.yw-userhead img{width:80px;height:80px;border-radius:40px;vertical-align:middle;}
.yw-usertxt{float:left;width:100%;height:auto;color:#cecece;margin:0;padding:0;line-height:26px;}
.yw-left-menu{width:100%;height:auto;margin:0 auto;color:#FFF;}
.yw-left-menu li{float:left;width:206px;height:56px;margin:0 auto;filter: Alpha(Opacity = 80);-moz-opacity: 0.8;opacity: 0.8;}
.yw-left-menu li em{float:left;width:3px;height:56px;background-color:#3A464E; vertical-align:middle;display:block;}
.yw-left-menu li span{float:left;width:201px;line-height:55px;font-size:16px;color:#FFF;border-top:1px solid #3A464E;border-bottom:1px solid #3A464E;border-left:2px solid #3A464E;}
.yw-left-menu li:hover{filter: Alpha(Opacity = 100);-moz-opacity: 1;opacity: 1;cursor:pointer;border-bottom:1px solid #323232;}
.yw-left-menu li:hover em{background-color:#2C94F1;}
.yw-left-menu li:hover span{border-left:2px solid #272E32;border-top:1px solid #2B3339;background-color:#30393F;}
.yw-left-menu-now{filter: Alpha(Opacity = 90) !important;-moz-opacity: 0.9 !important;opacity: 0.9 !important;}
.yw-left-menu-now em{background-color:#2C94F1 !important;}
.yw-left-menu-now span{border-left:2px solid #272E32;border-top:1px solid #2B3339;background-color:#30393F;}
.icon-todayjob{width:20px;height:19px;background-position:-380px 0;margin:18px 14px 0 30px;}
.icon-newjob{width:20px;height:19px;background-position:-410px 0;margin:18px 14px 0 30px;}
.icon-handling{width:20px;height:19px;background-position:-440px 0;margin:18px 14px 0 30px;}
.icon-search-reminder{width:20px;height:19px;background-position:-471px 0;margin:18px 14px 0 30px;}
.icon-news{width:20px;height:19px;background-position:-500px 0;margin:18px 14px 0 30px;}
.icon-alarm{width:20px;height:19px;background-position:-530px -1px;margin:18px 14px 0 30px;}
.icon-equipment{width:20px;height:20px;background-position:-470px -30px;margin:18px 14px 0 30px;}
.icon-configuration{width:20px;height:20px;background-position:-500px -30px;margin:18px 14px 0 30px;}
.icon-place{width:20px;height:21px;background-position:-530px -30px;margin:18px 14px 0 30px;}
.yw-lump{width:100%;height:auto;background-color:#FFF;border-bottom:1px solid #D2D7DC;}
.yw-process{width:100%;height:156px;padding:8px 0 0 8px;}
.yw-process li{float:left;width:23%;height:auto;min-height:100px;padding-right:2%;}
.step1{width:100%;height:148px;}
.step-left{float:left;width:39%;height:148px;line-height:148px;text-align:center;}
.step-left span{position:relative;left:50%;}
.yw-step1-icon{width:51px;height:62px;background-position:-300px -60px;margin:43px 0 0 -25px;}
.yw-step2-icon{width:58px;height:62px;background-position:-365px -60px;margin:43px 0 0 -29px;}
.yw-step3-icon{width:62px;height:64px;background-position:-435px -60px;margin:42px 0 0 -31px;}
.yw-step4-icon{width:51px;height:65px;background-position:-505px -60px;margin:42px 0 0 -25px;}
.step-right{float:left;width:61%;height:148px;margin:0 auto;background-color:#E7E7E7;}
.sr-num{float:left;width:100%;height:60px;line-height:60px;text-align:center;font-size:54px;color:#9f9f9f;margin:0;margin-top:30px;}
.sr-txt{float:left;width:100%;height:24px;line-height:24px;text-align:center;font-size:16px;color:#4b5159;margin:0;}
.step-right em{float:left;width:100%;height:3px;margin-top:29px;display:none;}
.step-now .step-right em{display:block;}
.step1 .step-left{background-color:#F35753;}
.step1 .step-right em{background-color:#F35753;border-top:1px solid #F16E6A;border-bottom:1px solid #F16E6A;}
.step2 .step-left{background-color:#8F79E0;}
.step2 .step-right em{background-color:#8F79E0;border-top:1px solid #9581E0;border-bottom:1px solid #9581E0;}
.step3 .step-left{background-color:#F7B831;}
.step3 .step-right em{background-color:#F7B831;border-top:1px solid #F6BB3E;border-bottom:1px solid #F6BB3E;}
.step4 .step-left{background-color:#49BF67;}
.step4 .step-right em{background-color:#49BF67;border-top:1px solid #54C270;border-bottom:1px solid #54C270;}
.yw-info-left{float:left;width:15%;height:auto;padding:10px 0 0 10px;}
.yw-info-right{float:left;width:82%;height:auto;margin:0 auto;}
.yw-info-left li{width:100%;height:78px;margin:0 auto;margin-bottom:12px;cursor:pointer;}
.yw-info-left li span{float:left;width:79%;height:78px;line-height:78px;background-color:#E3E3E3;text-align:center;color:#4c4c4c;font-size:16px;}
.yw-info-left li em{float:left;width:24px;height:29px;background:url(../images/icon.png) no-repeat -306px -143px;margin-top:24px;display:none;}
.yw-info-left li:hover span{background-color:#00ACEC !important;color:#FFF !important;}
.yw-info-left li:hover em{display:block !important;}
.yw-it-tab span{background-color:#00ACEC !important;color:#FFF !important;}
.yw-it-tab em{display:block !important;}
.yw-info-table{width:100%;height:auto;border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.yw-info-table td{height:42px;line-height:42px;border-bottom:1px solid #D9DDE1;color:#585F68;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}
.yw-info-table td em{color:#b0b5bd;font-size:14px;}
.yw-it-btn{border:0;background-color:transparent;font-size:16px;color:#585F68;cursor:pointer;}

/* ============客户管理页面样式============== */
.yw-lump-title{width:100%;height:49px;line-height:49px;margin:0 auto;}
.icon-partner{float:left;width:26px;height:26px;background-position:-350px -140px;margin:12px 12px 0 26px;}
.yw-input{width:auto;height:30px;line-height:30px;padding:0 10px;font-size:16px;border:1px solid #95B8E7;border-radius:5px;vertical-align:middle;}
.yw-btn{width:auto;height:auto;padding:6px 25px;border:none medium;background-color:transparent;font-size:16px;line-height:20px;color:#FFF;border-radius:2px;vertical-align:middle;cursor:pointer;}
.yw-btnbyme{width:auto;height:auto;padding:6px 8px;border:none medium;background-color:transparent;font-size:16px;line-height:20px;color:#FFF;border-radius:2px;vertical-align:middle;cursor:pointer;}
.yw-big-btn{width:auto;height:40px;padding:12px 26px;border:none medium;background-color:transparent;font-size:16px;color:#FFF;border-radius:2px;vertical-align:middle;cursor:pointer;}
.yw-little-btn{width:auto;height:26px;padding:0 25px;border:none medium;background-color:transparent;font-size:16px;color:#FFF;vertical-align:middle;cursor:pointer;}
.cur{cursor:pointer;}
.bg-blue{background-color:#0F75D2;}
.bg-blue:hover{box-shadow:0 0 4px #0F75D2;}
.bg-gray{background-color:#7A818B;}
.bg-gray:hover{box-shadow:0 0 4px #7A818B;}
.bg-orange{background-color:#FF6336;}
.bg-orange:hover{box-shadow:0 0 4px #7A818B;}
.bg-green{background-color:#75B74B;}
.bg-green:hover{box-shadow:0 0 4px #75B74B;}
.yw-cm-rows{width:100%;height:auto;line-height:40px;}
.yw-cm-title{width:100%;height:49px;line-height:49px;background-color:#F5F5F5;border-bottom:1px solid #E2E2E2;color:#4b5159;}
.yw-cm-table{width:100%;height:auto;border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;background-color:#FFF;}
.yw-cm-table th{height:40px;line-height:40px;text-align:left;color:#5F6468;font-weight:normal;border-bottom:1px solid #E2E2E2;}
.yw-cm-table td{height:50px;line-height:50px;color:#5F6468;font-size:14px;border-bottom:1px solid #E2E2E2;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}
.yw-bg-hover tr:first-child:hover{background-color:#fff;}
.yw-bg-hover tr:hover{background-color:#C3E6E7;cursor:pointer;}
.yw-center{text-align:center;}
.yw-center th{text-align:center;}
.yw-center td{text-align:center;}
.pager{width:100%;height:80px;line-height:80px;background-color:#FFF;border-top:3px solid #E2E2E2;border-bottom:1px solid #D4D9DE;font-size:14px;color:#7d8389;}
.pager a{padding:0 14px;}
.pager span{padding:0 14px;}
.yw-disabled{color:#CCC !important;}
.pager-input{width:50px;height:20px;line-height:20px;padding:0px 4px;text-align:center;border:1px solid #D7D7D7;margin:0 10px;}
.pager-btn-export{width:160px;height:40px;background-color:#FBAF43;font-size:16px;color:#FFF;border:0;border-radius:2px;margin:0 40px;}
.pager-btn-export:hover{box-shadow:0 0 4px #FBAF43;cursor:pointer;}

/* ============基础信息页面样式============== */
.icon-back{float:left;width:26px;height:26px;background-position:-390px -140px;margin:12px 12px 0 26px;}
.yw-bi-rows{width:100%;height:49px;line-height:49px;margin:0 auto;border-bottom:1px solid #F8A46D;}
.yw-bi-tabs{float:left;width:auto;height:40px;padding-left:6px;}
.yw-bi-tabs span{width:auto;height:38px;background-color:#DFDFDF;border:0;color:#5b6067;font-size:16px;padding:10px 34px;border-radius:2px;margin-left:20px;cursor:pointer;}
.yw-bi-now{background-color:#FFAA71 !important;border:1px solid #FF8D41 !important;color:#FFF !important;}
.font16{font-size:16px;}
.font16 td{font-size:16px;}
.yw-search-panel{width:100%;height:60px;line-height:60px;border-bottom:1px solid #E2E2E2;}

.yw-radio{float:left;width:auto;height:34px;}
.yw-radio i{float:left;width:17px;height:17px;background:url(../images/icon.png) no-repeat -360px -30px;}
.yw-radio-true{background-position:-330px -30px !important;}
.yw-radio input[type='radio']{filter:Alpha(Opacity = 0);-moz-opacity:0;opacity:0;display:none;}

/* ============员工管理及弹窗页面样式============== */
.yw-tree-list{width:230px;height:100%;padding:10px;border-right:1px solid #E2E2E2;font-size:14px;overflow:auto;}
.color-orange{color:#D9534F;}
.yw-window-p{float:left;width:100%;margin:10px 0 0 0;padding:0;font-size:14px;color:#323232;}
.yw-window-input{float:left;width:400px;height:24px;line-height:24px;color:#323232;font-size:14px;border:0;border-bottom:1px solid #C1C1C1;padding:0 10px;}
.yw-window-select{float:left;width:420px;height:26px;line-height:26px;color:#323232;font-size:14px;border:0;border-bottom:1px solid #C1C1C1;}
.yw-window-footer{width:100%;height:60px;line-height:60px;margin:0 auto;background-color:#E5E5E5;position:absolute;bottom:0;left:0px;}
.yw-window-btn{width:auto;height:34px;padding:6px 34px;font-size:14px;color:#FFF;border:0;border-radius:2px;margin-right:20px;cursor:pointer;}
.bg-lightgray{background-color:#A7A7A7;}
.bg-lightgray:hover{box-shadow:0 0 4px #A7A7A7;}

/* ============新建保障工单页面样式============== */
.yw-awo-info{width:100%;height:auto;}
.yw-awo-info ul{float:left;width:100%;}
.yw-awo-info li{float:left;width:45%;height:auto;line-height:52px;color:#646464;font-size:16px;}
.yw-awoi-input{width:200px;height:24px;line-height:24px;border:1px solid #C8C8C8;padding:0 4px;font-size:15px;color:#757575;}
.yw-p{float:left;width:100%;height:auto;margin:0;padding:0;}
.yw-textarea{float:left;width:100%;height:78px;border:1px solid #C8C8C8;resize:none;}

/* ============故障单详情页面样式============== */
.bg-yellow{background-color:#FBAF43;}
.bg-yellow:hover{box-shadow:0 0 4px #FBAF43;}
.icon-print{width:21px;height:20px;background-position:-560px 0;}
.yw-table{width:100%;height:auto;border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.yw-table td{height:auto;line-height:40px;font-size:16px;color:#5f6468;}
.yw-fi-flag{float:right;width:52px;height:110px;margin-right:60px;}
.icon-dot1{width:12px;height:12px;background-position:-430px -140px;}
.icon-dot2{width:12px;height:12px;background-position:-450px -140px;}
.icon-dot3{width:12px;height:12px;background-position:-470px -140px;}
.yw-fi-table{width:100%;height:auto;border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.yw-fi-table th{height:50px;line-height:50px;color:#4B5159;font-weight:normal;border-bottom:1px solid #E2E2E2;}
.yw-fi-table td{height:50px;line-height:50px;color:#5F6468;font-size:14px;border-bottom:1px solid #E2E2E2;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}

/* ============执行工单挂/退单页面样式============== */
.yw-woh-txt{width:60px;height:28px;line-height:28px;text-align:center;font-size:15px;background-color:#ECECEC;border-width:1px;border-style:solid;border-top-color:#B7B7B7;border-right-color:#DADADA;border-bottom-color:#ECECEC;border-left-color:#DADADA;}
.yw-woh-textarea{float:left;width:99%;height:100px;border:1px solid #959595;border-radius:4px;resize:none;}
.color-blue{color:#1B8CF2;}
.yw-woh-region{float:left;width:100%;height:188px;border:1px solid #959595;border-radius:4px;overflow:auto;}
.yw-woh-table{width:100%;height:auto;border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.yw-woh-table td{height:34px;line-height:34px;font-size:14px;color:#323232;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}
.color-gray{color:#BDBDBD;}
.va-top{ vertical-align:text-top;}

/* ============查询&催单页面样式============== */
.color-red{color:#FF5050;}
.bg-red{background-color:#D9534F;}
.bg-red:hover{box-shadow:0 0 4px #D9534F;}
.yw-progress-bar{width:100px;height:auto;}
.yw-progress-bar span{float:left;width:100%;height:26px;line-height:26px;text-align:center;font-size:15px;}
.yw-progress-bar em{float:left;width:100px;height:5px;background-color:#E6E6E6;font-style:normal;}
.yw-progress-bar em i{float:left;width:10%;height:5px;font-style:normal;}
.bar-blue{background-color:#65A6FE;}
.bar-green{background-color:#62E988;}
.bar-yellow{background-color:#FFCF4C;}
.bar-red{background-color:#FF6A6A;}

/* ============分配人员弹窗样式============== */
.yw-win-fpry{width:600px;height:360px;margin:0 auto;}
.yw-win-fp-left{float:left;width:45%;height:320px;}
.yw-win-fp{float:left;width:100%;height:22px;line-height:22px;font-size:13px;}
.yw-win-fp-left p{color:#1B8CF2;margin:5px;padding:0;}
.yw-win-fp-middle{float:left;width:10%;height:320px;margin:0 auto;}
.yw-win-fp-right{float:left;width:45%;height:320px;}
.yw-win-fp-right p{color:#53B615;margin:5px;padding:0;}
.yw-win-fp-tree{float:left;width:100%;height:280px;margin:0 auto;overflow:auto;border:1px solid #A0A0A0;}
.yw-win-yx{float:left;width:100%;height:280px;margin:0 auto;overflow:auto;border:1px solid #A0A0A0;}
.yw-win-yx ul{margin:0;padding:0;}
.yw-win-yx li{width:99%;height:26px;line-height:26px;border:1px solid #A0A0A0;list-style-type:none;margin-top:2px;}
.yw-win-fp-center{width:50%;height:50%;position:relative;top:32%;left:25%;}
.yw-win-fp-arrow{width:30px;height:25px;background:url(../images/icon.png) no-repeat;display:block;margin-top:5px;}
.fp-arrow1{background-position:-300px -200px;}
.fp-arrow2{background-position:-350px -200px;}
.fp-arrow3{background-position:-400px -200px;}
.fp-arrow4{background-position:-450px -200px;}
.yw-win-fp-arrow:hover{cursor:pointer; box-shadow:0 0 5px #ccc;background-color:#A0A0A0;}
.yw-win-yx img{ vertical-align: text-bottom;margin:0 5px;}
.yw-winp-title{width:100%;font-size:14px;color:#333;font-weight:bold;padding:2px 100px 2px 10px;background:url(../images/bg1.png) repeat-x;}
.bor-top1{border-top:1px solid #E2E2E2;}
.yw-winp-num{float:left;width:auto;height:30px;line-height:30px;padding:5px;color:#333;position:absolute;top:-13px;left:10px;}
.yw-upload-file{position:absolute;left:-25px;top:-29px;width:122px;height:36px;border:1px solid #ddd;z-index:999;filter:Alpha(Opacity = 0);-moz-opacity: 0;opacity:0;cursor:pointer;}
.yw-fault-list-excel{position:absolute;top:20px;right:226px;}
.yw-grgz-textarea{width:320px;height:90px;padding:4px;font-size:13px;}
