<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" id="WebApp_1477530440125">
  <display-name>wg_new</display-name>
  <description>jxlt.manager</description>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>  
	  <filter-name>cors</filter-name>  
	  <filter-class>com.jxlt.stage.interceptor.CORSFilter</filter-class>  
	</filter>  
	<filter-mapping>  
	  <filter-name>cors</filter-name>  
	  <url-pattern>/*</url-pattern>  
	</filter-mapping> 
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:spring/spring-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>com.jxlt.stage.interceptor.EncodingDispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:spring/spring-mvc.xml</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WechatCoreServlet</servlet-name>
    <servlet-class>com.jxlt.stage.wechat.WechatCoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CoreServlet</servlet-name>
    <servlet-class>com.jxlt.stage.wechat.servlet.CoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.jxlt.stage.wechat.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopayServlet</servlet-name>
    <servlet-class>com.jxlt.stage.wechat.servlet.TopayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotifyServlet</servlet-name>
    <servlet-class>com.jxlt.stage.wechat.servlet.NotifyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/notifyServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/mainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopayServlet</servlet-name>
    <url-pattern>/topayServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CoreServlet</servlet-name>
    <url-pattern>/CoreServlet</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>403</error-code>
    <location>/page/common/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/page/common/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/page/common/405.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/page/common/500.jsp</location>
  </error-page>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>encodingfilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingfilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
</web-app>
